apt-transport-https
build-essential
ca-certificates
curl
#docker.io
doxygen
gettext
gh
git
iputils-ping
liblttng-ust1
libcurl4-openssl-dev
libpq-dev
iputils-ping
jq
#npm
openssh-client
#plocate
#postgresql
#python3-pip
#redis-server
ruby-full
software-properties-common
sudo
supervisor
unzip
wget
zlib1g-dev
